<ion-content>
  <div class="home-container">
    <!-- Ícone decorativo -->
    <div class="icon-container">
      <ion-icon name="rocket-outline"></ion-icon>
    </div>

    <!-- Texto de boas-vindas -->
    <div class="welcome-text">Bem-vindo(a) Movellus!</div>

    <!-- Subtítulo -->
    <div class="subtitle">
      Explore o nosso aplicativo e aproveite as funcionalidades incríveis.
    </div>

    <!-- Botão Get Started -->
    <button class="get-started-button" routerLink="/login">
      Começar
    </button>
  </div>
</ion-content>
